---
layout: application
---
<main class="index">

    {% image sloth.jpg [resize:40x40, autosize] %}
    
    <h1>
        malomalo
    </h1>
    
    
    <nav>
        <a href="/ramblings">ramblings</a>
        •
        <a href="/projects">projects</a>
        •
        <a href="/recipes">recipes</a>
    </nav>
    
    {% assign allthethings = site.posts | concat:site.recipes | sort | reverse %}

    {% for update in allthethings limit:10 %}
        {% capture current_month %}{{update.date | date: "%B %Y"}}{% endcapture %}
        {% if month != current_month %}
            {% if month != 'nil' %}
            </ul>
            {% endif %}
            
            <h2>{{ current_month }}</h2>
            <ul>
            {% assign month = current_month %}
        {% endif %}
                <li>
                    <a href="{{ update.url }}">{{ update.title }}</a>
                </li>
    {% endfor %}
            </ul>

</main>