<ul>
    [[ results.forEach(function(result) { ]]
        <a href="[[= result.url ]]">
            <li>
                <div class="type">R</div>
                [[= result.title ]]
            </li>
        </a>
    [[ }) ]]
</ul>
