* { margin: 0; padding: 0; }
html { overflow-y:scroll; }
html, body {
	background: #fff;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size:14px;
	line-height:1.5;
	font-family: arial,helvetica,freesans,clean,sans-serif;
	color: #000;
}
img { border:0; }
a { text-decoration: none; }
a:link, a:visited { color: #80D62E; } /*#40AD14*/
a:hover { text-decoration:underline; } /*#35D726*/

body {
	border-top: 6px solid #80D62E;
	padding: 20px 30px 30px 30px;
}

header {
	max-width: 640px;
	margin: 0 auto;
}

header h1 {
	height:40px;
	font-weight: bold;
	font-size: 24px;
}
header h1 a:hover {
	text-decoration: none;
}
header h1 a img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
  border-radius:20px;	
	border: 1px solid #808080;
}

footer {
    color: #999;
    text-align:center;
    padding:10px 0 30px 0;
}
footer a, footer a:link, footer a:visited {
		color: #555;
}

#content {
		max-width: 640px;
		margin: 20px auto 40px auto;
}

article h1 {
  font-size: 32px;
  font-weight: normal;
  padding: 0;
  color: #80D62E;
}
article h1 a:hover {
	text-decoration: none;
}
article .meta {
	color: #999;
}


article blockquote {
    border-left: 7px solid #DADDE4;
    margin: 0em 0em 1.5em;
    padding: 0.5em 1.5em;
    font-size: 0.9em;
}

article h1 code, article h2 code {
  padding:0 !important;
  background:#fff !important;
  border:none !important;
  color: #006897 !important;
  font-size: 14px !important;
}

article h2 {
  font-size: 18px;
  font-weight: normal;
  padding: 5px 0 10px 0;
}

article h3 {
  color: #006897;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0 10px 0;
}

article p {
  margin: 0 0 10px 0;
}

article ul, article ol {
  padding: 0 0 10px 20px;
}

article li {
  font-size: 13px;
  line-height: 20px;
}

article ul li {
  list-style-type: none;
  margin-bottom:10px;
}

article ol li {
  margin-bottom:5px;
}

article ol li ul {
  padding-bottom:0;
  margin-bottom:0;
}

article ol li ul li {
  list-style-type: disc;
}

.posts h1 {
	font-size: 22px;
	color: #80D62E;
	margin-bottom: 5px;
	font-weight: normal;
}
.posts ul li {
	list-style:none;
	font-size: 16px;
}
.posts a {
	color: #000;
	text-decoration:none;
}