main.recipes {
  text-align: center;
  
  h1 {
    text-align:center;
  }
  
  h2 {
    text-align:center;
    border-bottom: 1px solid #F3F2EF;
    margin: 0 auto;
    max-width: 450px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: normal;
  }
  
  a {
    color: $blue;
    text-decoration:none;
  }
  ul {
    list-style:none;
    li {
      margin-bottom: 20px;
    }
  }
  
}

main.recipe {
  
  h1{
    display:inline-block;
    border-bottom: 1px dashed $green;
    margin-bottom: 10px;
    text-align:center;
//    margin: 0 auto 10px auto;
  }
  h2 {
    font-size: 14px;
    font-weight:bold;
  }
  h3 {
    font-weight:bold;
  }
  ul {
    margin-left:10px;
    list-style:none;
    padding-left:0;
    li:before{ content:"- ";}
    li {
      margin-bottom: 5px;
    }
  }

  p {
    margin-left:10px;
  }
}