{% assign index_name = page.path | split:"/" | first | remove:'.html' %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title | strip_newlines }}{% else %}{{ site.title | strip_newlines }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description  | strip_newlines }}{% endif %}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        {% stylesheet application  %}
        {% javascript application async %}
    </head>

    <body>

        <div class="header-container">
            <header>
                <div class="title">
                    <a href="http://malomalo.io/">malomalo.io</a>{% if index_name != 'index' %}/{{ index_name }}{% endif %}
                </div>

                <div class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M23 36c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zm0-24c-6.1 0-11 4.9-11 11s4.9 11 11 11 11-4.9 11-11-4.9-11-11-11z"/><path d="M32.682 31.267l8.98 8.98-1.414 1.414-8.98-8.98z"/></svg>
                    <input type="search" onfocus="document.querySelector('header .search').style['border-bottom-color'] = '#94d31b'" onblur="document.querySelector('header .search').style['border-bottom-color'] = '#e5e9ec'">
                </div>
            </header>
        </div>
        
        {{ content }}

        {% if index_name != 'index' %}
            <footer>
                <a href="/tos">Terms of Service</a>
                •
                <a href="/privacy_policy">Privacy Policy</a>
                •
                <a href="mailto:support@runestonemetrics.com">Contact Us</a>
                •
                <a href="/docs">Docs</a>
                •
                <a href="/blog">Blog</a>
            </footer>
        {% endif %}
        
    </body>

</html>


